name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_unix:
    name: "CI/CD Unix"
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v2
      
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
        
    - name: Restore dependencies
      run: |
        dotnet restore Strato.sln
      
    - name: Build
      run: dotnet build Strato.sln --configuration Release --no-restore
      
    - name: Test
      run: dotnet test Strato.sln --no-restore --verbosity normal
      
    - name: Release
      run: |
        dotnet pack Strato.sln --configuration Release
        dotnet nuget push **/*.nupkg --skip-duplicate --no-symbols true --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json

  build_win:
    name: "CI/CD Windows"
    runs-on: [windows-latest]

    steps:
    - uses: actions/checkout@v2
      
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
        
    - name: Restore dependencies
      run: |
        dotnet restore Strato.Win.sln
      
    - name: Build
      run: dotnet build Strato.Win.sln --configuration Release --no-restore
      
    - name: Test
      run: dotnet test Strato.Win.sln --no-restore --verbosity normal
      
    - name: Release
      run: |
        dotnet pack Strato.Win.sln --configuration Release
        dotnet nuget push **/*.nupkg --skip-duplicate --no-symbols true --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
