name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
        source-url: https://nuget.pkg.github.com/eoinaviation/index.json
      env:
        NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}} 
    
    - name: Pack Analyzers
      run: |
        cd Strato.Analyzers
        dotnet pack --configuration Release /p:NuspecFile=Strato.Analyzers.nuspec
        
    - name: Deploy Analyzers
      run: dotnet nuget push ./Strato.Analyzers/bin/Release/*.nupkg --skip-duplicate
        
    - name: Restore dependencies
      run: |
        dotnet restore --source "https://nuget.pkg.github.com/eoinaviation/index.json"
        dotnet restore --source "https://api.nuget.org/v3/index.json"
      
    - name: Build
      run: dotnet build --configuration Release --no-restore
      
    - name: Test
      run: dotnet test --no-restore --verbosity normal
      
    - name: Release
      run: |
        dotnet pack -c Release -o out
        dotnet nuget push ./out/*.nupkg --skip-duplicate --no-symbols true        
